html {
  color: black;
  font-family: sans-serif;
}

body {
  margin: 0;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.hero {
  min-height: 100vh;
  min-width: 100vw;
  color: black;
  display: grid;
  place-items: center;
  /* margin-top: 50px; */
  border-top: 1px solid black;
}

h1 {
  text-shadow: 10px 10px 0 rgba(0, 0, 0, 0.5);
  font-size: 100px;
}
